In [14]:
## imports
import pandas as pd
import numpy as np
import plotnine
from plotnine import *
import random

## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from datetime import datetime, timedelta

## Load data

In [15]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")

## create report_dt column
df['report_dt'] = pd.to_datetime(df.REPORT_DAT)

## Warm-up Demo

In [16]:
%%time
for i in range(df.shape[0]):
    r = df.iloc[i]
    r.X + r.Y

CPU times: user 602 ms, sys: 16.3 ms, total: 618 ms
Wall time: 636 ms

In [17]:
%%time
for i,r in df.iterrows():
    r.X + r.Y

CPU times: user 347 ms, sys: 8.14 ms, total: 355 ms
Wall time: 357 ms

In [18]:
%%time
df.apply(lambda r: r.X + r.Y, axis = 1)

CPU times: user 122 ms, sys: 6.84 ms, total: 129 ms
Wall time: 129 ms

0       -38.114105
1       -38.125487
2       -38.084228
3       -38.065981
4       -38.045047
           ...
27926   -38.106420
27927   -38.113307
27928   -38.121112
27929   -38.108484
27930   -38.151707
Length: 27931, dtype: float64

In [19]:
%%time
## Super fast, but only works with built-in numpy functions.
df.X + df.Y

CPU times: user 331 μs, sys: 253 μs, total: 584 μs
Wall time: 395 μs

0       -38.114105
1       -38.125487
2       -38.084228
3       -38.065981
4       -38.045047
           ...
27926   -38.106420
27927   -38.113307
27928   -38.121112
27929   -38.108484
27930   -38.151707
Length: 27931, dtype: float64

# Practice

In [104]:
## define crimes to look for and crimes to look within
## CCN is Central Complaint Number: https://go.mpdconline.com/GO/GO_401_01.pdf
CCN_examples = ['20165648', '20123250']
C_Tar = C_Target = crimes_lookfor = df[df.CCN.astype(str).isin(CCN_examples)][['CCN', 'WARD', 'OFFENSE', 'report_dt']]
C_Oth = C_Other  = other_crimes = df[~df.CCN.astype(str).isin(CCN_examples)]

## print crimes_lookfor
C_Tar.head()
# other_crimes.head()

            CCN  WARD              OFFENSE                 report_dt
941    20165648     6  MOTOR VEHICLE THEFT 2020-11-20 02:25:50+00:00
14013  20123250     2  MOTOR VEHICLE THEFT 2020-08-29 05:00:25+00:00

**Task**: we have two crimes we want to look for. We want to look in the remaining crime reports for crime reports that are:

- Located in the same ward as the two focal crimes
- Reported at the same time as the focal crime or up to 1000 minutes later (changed from slides which stated 20 mins since crime ids changed since last time so this long bandwidth helps us find matches!)

Solutions compare two ways to solve:

- Using a for loop
- Using a function

## 1. Loop approach

In [21]:
## create empty container to store results 
store_matches = {}

## loop through two example crimes
for i in range(C_Tar.shape[0]): # same as shape
    
    ## extract row
    r = one_row = C_Tar.iloc[i]

    ## first, subset to crimes in same ward
    same_wards = C_Oth[C_Oth.WARD == r.WARD]
    
    ## second, with those same-ward crimes, construct indicator for reported within 20 minutes
    ## (interpreting as after but could do either)
    ### substep: get time cutoff
    CUTOFF = r.report_dt +  timedelta(minutes=1200)
    
    ### substep: use that to subset
    same_wards_sametime = same_wards[(same_wards.report_dt >= r.report_dt) & 
                                    (same_wards.report_dt <= CUTOFF)].copy()
    
    ## third, store the results
    store_matches[str(one_row.CCN)] = same_wards_sametime
    
## finally, concatenate results into one df
all_matches = pd.concat(store_matches)
all_matches.head()

                        X          Y       CCN              REPORT_DAT  \
20165648 279   -77.005894  38.905167  20165986  2020/11/20 22:17:27+00
         1308  -76.999518  38.891483  20165709  2020/11/20 04:27:36+00
         4675  -76.997316  38.904969  20165805  2020/11/20 15:06:04+00
         11621 -77.015554  38.899950  20166039  2020/11/20 22:07:10+00
         15616 -76.997328  38.885141  20165798  2020/11/20 12:46:32+00

                   SHIFT  METHOD              OFFENSE  \
20165648 279     EVENING  OTHERS  MOTOR VEHICLE THEFT
         1308   MIDNIGHT  OTHERS  MOTOR VEHICLE THEFT
         4675        DAY  OTHERS         THEFT F/AUTO
         11621   EVENING  OTHERS          THEFT/OTHER
         15616       DAY  OTHERS          THEFT/OTHER

                                                     BLOCK    XBLOCK  \
20165648 279            1151 - 1199 BLOCK OF 1ST STREET NE  399489.0
         1308             100 - 199 BLOCK OF 5TH STREET NE  400042.0
         4675          600 - 699 BLOCK OF ORLEANS PLACE NE  400233.0
         11621  300 - 363 BLOCK OF MASSACHUSETTS AVENUE NW  398651.0
         15616   600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE  400232.0

                  YBLOCK  ...  CENSUS_TRACT VOTING_PRECINCT   LATITUDE  \
20165648 279    137478.0  ...       10603.0    Precinct 144  38.905159
         1308   135959.0  ...        8200.0     Precinct 89  38.891475
         4675   137456.0  ...       10602.0     Precinct 83  38.904961
         11621  136899.0  ...        5900.0    Precinct 143  38.899942
         15616  135255.0  ...        6500.0     Precinct 89  38.885133

                LONGITUDE           BID              START_DATE  \
20165648 279   -77.005891          NOMA  2020/11/20 20:15:26+00
         1308  -76.999516           NaN  2020/11/20 03:02:27+00
         4675  -76.997314           NaN  2020/11/19 22:30:39+00
         11621 -77.015552      DOWNTOWN  2020/11/20 17:30:16+00
         15616 -76.997326  CAPITOL HILL  2020/11/19 23:43:15+00

                              END_DATE   OBJECTID  OCTO_RECORD_ID  \
20165648 279    2020/11/20 21:46:24+00  596093043             NaN
         1308                      NaN  596105470             NaN
         4675   2020/11/20 03:00:43+00  596362501             NaN
         11621  2020/11/20 22:08:28+00  596387673             NaN
         15616                     NaN  596402829             NaN

                               report_dt
20165648 279   2020-11-20 22:17:27+00:00
         1308  2020-11-20 04:27:36+00:00
         4675  2020-11-20 15:06:04+00:00
         11621 2020-11-20 22:07:10+00:00
         15616 2020-11-20 12:46:32+00:00

[5 rows x 26 columns]

# 1.5 Iterrow Approach

In [22]:
## create empty container to store results 
store_matches = {}

## loop through two example crimes
for i, r in C_Tar.iterrows(): # same as 

    ## subset to crimes in same ward
    same_wards = C_Oth[C_Oth.WARD == r.WARD]
    
    ## second, with those same-ward crimes, construct indicator for reported within 20 minutes
    ## (interpreting as after but could do either)
    ### substep: get time cutoff
    CUTOFF = r.report_dt +  timedelta(minutes=1200)
    
    ### substep: use that to subset
    same_wards_sametime = same_wards[(same_wards.report_dt >= r.report_dt) & 
                                    (same_wards.report_dt <= CUTOFF)].copy()
    
    ## third, store the results
    store_matches[str(one_row.CCN)] = same_wards_sametime
    
## finally, concatenate results into one df
all_matches = pd.concat(store_matches)
all_matches.head()

                        X          Y       CCN              REPORT_DAT  \
20123250 734   -77.039824  38.905656  20123507  2020/08/29 22:04:46+00
         9297  -77.027565  38.897353  20123609  2020/08/30 00:05:52+00
         14014 -77.040091  38.909646  20123389  2020/08/29 16:05:18+00
         14015 -77.050528  38.913354  20123422  2020/08/29 16:45:57+00
         18683 -77.021929  38.899129  20123419  2020/08/29 17:15:19+00

                  SHIFT  METHOD              OFFENSE  \
20123250 734    EVENING  OTHERS  MOTOR VEHICLE THEFT
         9297   EVENING  OTHERS  MOTOR VEHICLE THEFT
         14014      DAY  OTHERS         THEFT F/AUTO
         14015      DAY  OTHERS         THEFT F/AUTO
         18683      DAY  OTHERS          THEFT/OTHER

                                                BLOCK    XBLOCK    YBLOCK  \
20123250 734         1700 - 1779 BLOCK OF M STREET NW  396546.0  137533.0
         9297        1100 - 1199 BLOCK OF F STREET NW  397609.0  136611.0
         14014       1700 - 1799 BLOCK OF P STREET NW  396523.0  137976.0
         14015  2200 - 2399 BLOCK OF DECATUR PLACE NW  395618.0  138388.0
         18683       700 - 799 BLOCK OF 7TH STREET NW  398098.0  136808.0

                ...  CENSUS_TRACT VOTING_PRECINCT   LATITUDE  LONGITUDE  \
20123250 734    ...       10700.0     Precinct 17  38.905648 -77.039822
         9297   ...        5802.0    Precinct 129  38.897346 -77.027563
         14014  ...        5303.0     Precinct 15  38.909638 -77.040089
         14015  ...        4100.0     Precinct 13  38.913346 -77.050526
         18683  ...        5801.0    Precinct 129  38.899121 -77.021926

                            BID              START_DATE  \
20123250 734    GOLDEN TRIANGLE  2020/08/27 19:01:24+00
         9297          DOWNTOWN  2020/08/29 23:08:57+00
         14014              NaN  2020/08/28 22:00:23+00
         14015              NaN  2020/08/26 22:00:29+00
         18683         DOWNTOWN  2020/08/29 16:05:40+00

                              END_DATE   OBJECTID  OCTO_RECORD_ID  \
20123250 734    2020/08/29 19:00:05+00  596095073             NaN
         9297                      NaN  596376108             NaN
         14014  2020/08/29 08:00:27+00  596397251             NaN
         14015  2020/08/27 12:00:51+00  596397252             NaN
         18683  2020/08/29 16:08:33+00  596447637             NaN

                               report_dt
20123250 734   2020-08-29 22:04:46+00:00
         9297  2020-08-30 00:05:52+00:00
         14014 2020-08-29 16:05:18+00:00
         14015 2020-08-29 16:45:57+00:00
         18683 2020-08-29 17:15:19+00:00

[5 rows x 26 columns]

## 2. Function approach

Practice rewriting the above loop as a function

### 2.1 define the function

In [70]:
store_matches_2 = {}

def find_related_crimes(r): # imagine the function taking in one row as its sole variable
    # Your code here
    same_wards = C_Oth[C_Oth.WARD == r.WARD]
    CUTOFF = r.report_dt +  timedelta(minutes=1200)
    same_wards_sametime = same_wards[(same_wards.report_dt >= r.report_dt) & 
                                    (same_wards.report_dt <= CUTOFF)].copy()
    store_matches_2[r.CCN] = same_wards_sametime

### 2.2 apply it to one of the focal crimes

In [72]:
row = C_Tar.iloc[0]
find_related_crimes(row)
store_matches_2

{20165648:                X          Y       CCN              REPORT_DAT     SHIFT  \
 279   -77.005894  38.905167  20165986  2020/11/20 22:17:27+00   EVENING
 1308  -76.999518  38.891483  20165709  2020/11/20 04:27:36+00  MIDNIGHT
 4675  -76.997316  38.904969  20165805  2020/11/20 15:06:04+00       DAY
 11621 -77.015554  38.899950  20166039  2020/11/20 22:07:10+00   EVENING
 15616 -76.997328  38.885141  20165798  2020/11/20 12:46:32+00       DAY
 15617 -76.997316  38.904969  20165803  2020/11/20 14:45:06+00       DAY
 16271 -76.994365  38.900203  20165859  2020/11/20 15:37:59+00       DAY
 25170 -77.001316  38.898915  20165932  2020/11/20 18:56:18+00       DAY

        METHOD              OFFENSE  \
 279    OTHERS  MOTOR VEHICLE THEFT
 1308   OTHERS  MOTOR VEHICLE THEFT
 4675   OTHERS         THEFT F/AUTO
 11621  OTHERS          THEFT/OTHER
 15616  OTHERS          THEFT/OTHER
 15617  OTHERS         THEFT F/AUTO
 16271  OTHERS          THEFT/OTHER
 25170  OTHERS         THEFT F/AUTO

                                             BLOCK    XBLOCK    YBLOCK  ...  \
 279            1151 - 1199 BLOCK OF 1ST STREET NE  399489.0  137478.0  ...
 1308             100 - 199 BLOCK OF 5TH STREET NE  400042.0  135959.0  ...
 4675          600 - 699 BLOCK OF ORLEANS PLACE NE  400233.0  137456.0  ...
 11621  300 - 363 BLOCK OF MASSACHUSETTS AVENUE NW  398651.0  136899.0  ...
 15616   600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE  400232.0  135255.0  ...
 15617         600 - 699 BLOCK OF ORLEANS PLACE NE  400233.0  137456.0  ...
 16271              800 - 899 BLOCK OF H STREET NE  400489.0  136927.0  ...
 25170              300 - 399 BLOCK OF G STREET NE  399886.0  136784.0  ...

        CENSUS_TRACT VOTING_PRECINCT   LATITUDE  LONGITUDE           BID  \
 279         10603.0    Precinct 144  38.905159 -77.005891          NOMA
 1308         8200.0     Precinct 89  38.891475 -76.999516           NaN
 4675        10602.0     Precinct 83  38.904961 -76.997314           NaN
 11621        5900.0    Precinct 143  38.899942 -77.015552      DOWNTOWN
 15616        6500.0     Precinct 89  38.885133 -76.997326  CAPITOL HILL
 15617       10602.0     Precinct 83  38.904961 -76.997314           NaN
 16271        8402.0     Precinct 82  38.900195 -76.994363           NaN
 25170        8301.0     Precinct 83  38.898907 -77.001314           NaN

                    START_DATE                END_DATE   OBJECTID  \
 279    2020/11/20 20:15:26+00  2020/11/20 21:46:24+00  596093043
 1308   2020/11/20 03:02:27+00                     NaN  596105470
 4675   2020/11/19 22:30:39+00  2020/11/20 03:00:43+00  596362501
 11621  2020/11/20 17:30:16+00  2020/11/20 22:08:28+00  596387673
 15616  2020/11/19 23:43:15+00                     NaN  596402829
 15617  2020/11/19 23:45:48+00  2020/11/20 03:00:00+00  596402830
 16271  2020/11/13 22:00:23+00  2020/11/14 00:00:13+00  596405482
 25170  2020/11/20 15:30:02+00  2020/11/20 18:25:35+00  596617921

        OCTO_RECORD_ID                 report_dt
 279               NaN 2020-11-20 22:17:27+00:00
 1308              NaN 2020-11-20 04:27:36+00:00
 4675              NaN 2020-11-20 15:06:04+00:00
 11621             NaN 2020-11-20 22:07:10+00:00
 15616             NaN 2020-11-20 12:46:32+00:00
 15617             NaN 2020-11-20 14:45:06+00:00
 16271             NaN 2020-11-20 15:37:59+00:00
 25170             NaN 2020-11-20 18:56:18+00:00

 [8 rows x 26 columns]}

### 2.3 Use apply to cover all the other focal crimes

In [73]:
C_Tar.apply(find_related_crimes, axis=1)

all_matches = pd.concat(store_matches_2)
all_matches.head()

941      None
14013    None
dtype: object

                        X          Y       CCN              REPORT_DAT  \
20165648 279   -77.005894  38.905167  20165986  2020/11/20 22:17:27+00
         1308  -76.999518  38.891483  20165709  2020/11/20 04:27:36+00
         4675  -76.997316  38.904969  20165805  2020/11/20 15:06:04+00
         11621 -77.015554  38.899950  20166039  2020/11/20 22:07:10+00
         15616 -76.997328  38.885141  20165798  2020/11/20 12:46:32+00

                   SHIFT  METHOD              OFFENSE  \
20165648 279     EVENING  OTHERS  MOTOR VEHICLE THEFT
         1308   MIDNIGHT  OTHERS  MOTOR VEHICLE THEFT
         4675        DAY  OTHERS         THEFT F/AUTO
         11621   EVENING  OTHERS          THEFT/OTHER
         15616       DAY  OTHERS          THEFT/OTHER

                                                     BLOCK    XBLOCK  \
20165648 279            1151 - 1199 BLOCK OF 1ST STREET NE  399489.0
         1308             100 - 199 BLOCK OF 5TH STREET NE  400042.0
         4675          600 - 699 BLOCK OF ORLEANS PLACE NE  400233.0
         11621  300 - 363 BLOCK OF MASSACHUSETTS AVENUE NW  398651.0
         15616   600 - 669 BLOCK OF PENNSYLVANIA AVENUE SE  400232.0

                  YBLOCK  ...  CENSUS_TRACT VOTING_PRECINCT   LATITUDE  \
20165648 279    137478.0  ...       10603.0    Precinct 144  38.905159
         1308   135959.0  ...        8200.0     Precinct 89  38.891475
         4675   137456.0  ...       10602.0     Precinct 83  38.904961
         11621  136899.0  ...        5900.0    Precinct 143  38.899942
         15616  135255.0  ...        6500.0     Precinct 89  38.885133

                LONGITUDE           BID              START_DATE  \
20165648 279   -77.005891          NOMA  2020/11/20 20:15:26+00
         1308  -76.999516           NaN  2020/11/20 03:02:27+00
         4675  -76.997314           NaN  2020/11/19 22:30:39+00
         11621 -77.015552      DOWNTOWN  2020/11/20 17:30:16+00
         15616 -76.997326  CAPITOL HILL  2020/11/19 23:43:15+00

                              END_DATE   OBJECTID  OCTO_RECORD_ID  \
20165648 279    2020/11/20 21:46:24+00  596093043             NaN
         1308                      NaN  596105470             NaN
         4675   2020/11/20 03:00:43+00  596362501             NaN
         11621  2020/11/20 22:08:28+00  596387673             NaN
         15616                     NaN  596402829             NaN

                               report_dt
20165648 279   2020-11-20 22:17:27+00:00
         1308  2020-11-20 04:27:36+00:00
         4675  2020-11-20 15:06:04+00:00
         11621 2020-11-20 22:07:10+00:00
         15616 2020-11-20 12:46:32+00:00

[5 rows x 26 columns]

In [105]:
C_Tar

            CCN  WARD              OFFENSE                 report_dt
941    20165648     6  MOTOR VEHICLE THEFT 2020-11-20 02:25:50+00:00
14013  20123250     2  MOTOR VEHICLE THEFT 2020-08-29 05:00:25+00:00

In [106]:
a = C_Tar[["CCN"]]

In [107]:
C_Tar["CCN"][941] = 19200110

/var/folders/qz/8kmr765n3fl7llw5b2r0787w0000gn/T/ipykernel_50634/1583023375.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [108]:
a

            CCN
941    20165648
14013  20123250

In [109]:
C_Tar.iloc[0]

CCN                           19200110
WARD                                 6
OFFENSE            MOTOR VEHICLE THEFT
report_dt    2020-11-20 02:25:50+00:00
Name: 941, dtype: object